
<div class="container">
    <app-create-produce></app-create-produce>
</div>
<div class="jumbotron" >
    <div class="col-sm-4">
    <div class="form-group">
        <div class="col-md-8">
            <div class="input-group mb-3"></div>
                <input type="text" class="form-control" placeholder="Search by Produce Name" [(ngModel)]="name" />
                <div class="input-group-append">
                    <button class="btn btn-info" type="button" (click)="searchName()">Search</button>
                </div>
            
        </div>
    </div>
</div> 

<div class="container-fluid">
        <h4 style="text-align: center;">Produce  List</h4>
<table class="table table-hover table-responsive table-bordered table-striped">
    <thead>
    <tr>
        <th> Produce Name </th>
        <th> Produce Description </th>
        <th> Produce Image</th>
        <th>Action</th>
    </tr>       
    </thead>
    <tbody>
        <tr *ngFor="let produce of produces; let i = index"
    [class.active]="i == currentIndex"
    (click)="setActiveProduce(produce, i)">  
            <td>{{produce.name}}</td>
            <td>{{produce.description}}</td>
            <td>{{produce.imageUrl}}</td>
            <td><a class="badge badge-danger" href="/produce/{{produce.id}}">Edit</a></td>            
        </tr>
    </tbody>
</table>      
</div>
 
