<div style="text-align: center;">
<h1>Welcome to {{title}}</h1>
<p>Kindly Select your choice buttons below !</p>
</div>
<div class="row" style="text-align: center;">
    <nav>
        <button [routerLink]="['/buyers']" routerLinkActive="router-link-active">Buyers</button>
        <button [routerLink]="['/prices']" routerLinkActive="router-link-active">Prices</button>
        <button [routerLink]="['/produce']" routerLinkActive="router-link-active">Produce</button>
        <button [routerLink]="['/supplierz']" routerLinkActive="router-link-active">Suppliers</button>
    </nav>
</div>