<div class="container-fluid">
<div class="jumbotron">
<div style="text-align: center;">
<h1>Welcome to {{title}}</h1>
<p>Kindly Click any button below !</p>
</div>
</div>
<div style="text-align: center;">
    <div class="btn-group" >
        <button [routerLink]="['/buyers']" routerLinkActive="router-link-active" class="btn btn-success btn-sm">Buyers</button>
        <button [routerLink]="['/prices']" routerLinkActive="router-link-active" class="btn btn-success btn-sm">Prices</button>
        <button [routerLink]="['/produce']" routerLinkActive="router-link-active" class="btn btn-success btn-sm">Produce</button>
        <button [routerLink]="['/supplierz']" routerLinkActive="router-link-active" class="btn btn-success btn-sm">Suppliers</button>
    </div> </div>
</div>